@charset "utf-8";

// Define defaults for each variable.

$on-palm: 600px !default;
$on-laptop: 800px !default;

$header-height: 50px !default;
$toc-width: 250px !default;
$pagination-height: 30px !default;
$footer-height: 50px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

@import "taurus/base.scss";
@import "taurus/home.scss";
@import "taurus/post.scss";
